body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  font-size: 12px;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0.5em 0;
}

/* FONT-SIZE */
body {
  font-size: 32px;
}

@media screen and (max-width: 1920px) {
  body {
    font-size: 27px;
  }
}

@media screen and (max-width: 1680px) {
  body {
    font-size: 23px;
  }
}

@media screen and (max-width: 1440px) {
  body {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 17.5px;
  }
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 15.5px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 13.7px;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 13.3px;
  }
}

@media screen and (max-width: 376px) {
  body {
    font-size: 13px;
  }
}

@media screen and (max-width: 330px) {
  body {
    font-size: 12.8px;
  }
}
